<!-- Title -->
<div class="row">
	<h1 class="col-xs-2">Q&amp;A</h1>
</div>

<!-- Login Form -->
<div class="row">
	<div class="col-xs-12 panel-group">	
		<form name="theform">
			<div class="form-group row">
				<label class="col-xs-2 form-control-lg">Name</label>
				<div class="col-xs-6">
					<input name="name" class="form-control" type="text" ng-model="user.name"
						   required ng-minlength="2">
				   	<div ng-if="theform.name.$touched">
						<span class="error" ng-if="theform.name.$error.required">Name is required</span>
						<span class="error" ng-if="theform.name.$error.minlength">Name shoule be at least 2 characters</span>
					</div>
				</div>
			</div>

			<button class=" col-xs-2 col-xs-offset-6 btn btn-success" ng-click="login()" ng-disabled="theform.$invalid">Enter</button>			
		</form>
	</div>
</div>