<div class="row">
	<a class="col-xs-1 col-xs-offset-10" href="">Dashboard</a>
	<a class="col-xs-1" href="">Logout</a>
</div>

<div class="row">
	<h3><a href="#/user/{{currentUser._id}}">{{ currentUser.name }}</a> posted a topic:</h3>
</div>
<div class="row">
	<div class="col-xs-10 col-xs-offset-1"><strong>{{ topic.name }}</strong></div>	
</div>

<br>
<div class="row">
	<div class="col-xs-10 col-xs-offset-1">{{ topic.description }}</div>
</div>
<br>

<div class="row">
	<h4>Post your answer here...</h4>
</div>

<div class="row">
	<form class="col-xs-10 col-xs-offset-1">
		<textarea class="form-control" type="text" placeholder="Description" rows="4" ng-model="newMessage.message"></textarea>
		<button class="btn btn-danger" ng-click="addMessage()">Submit</button>
	</form>
</div>

<div class="row" ng-repeat="msg in topic._messages">
	<div class="col-xs-11 col-xs-offset-1">
		<hr>
		<p><a href="#/users/{{msg._user._id}}">{{msg._user.name}}</a>: {{msg.message}}</p>
	</div>
	<div class="col-xs-9 col-xs-offset-2" ng-repeat="cmt in msg._comments">
		<p><a href="#/users/{{cmt._user._id}}">{{cmt._user.name}}</a>: {{cmt.comment}}</p>
	</div>	
	<div class="col-xs-9 col-xs-offset-2">
		<form>
			<textarea class="form-control" type="text" placeholder="Description" rows="4" ng-model="newComment[msg._id].comment"></textarea>
			<button class="btn btn-danger" ng-click="addComment(msg._id)">Submit</button>
		</form>
	</div>
</div>