<div class="row">
	<a class="col-xs-1 col-xs-offset-10" href="">Dashboard</a>
	<a class="col-xs-1" href="">Logout</a>
</div>

<div class="row">
	<h3>Username: {{currentUser.name}}</h3>
</div>

<div class="row">
	<h4>Posted...</h4>
</div>

<div class="row">
	<div class="col-xs-2 col-xs-offset-1">{{topics.length}} Topics</div>
</div>
<div class="row">
	<div class="col-xs-2 col-xs-offset-1">{{messages.length}} Posts</div>
</div>
<div class="row">
	<div class="col-xs-2 col-xs-offset-1">{{comments.length}} Comment</div>
</div>